<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>DCN - {{ title }}</title>
    {% else %}
    <title>Distribuidora Costa Norte</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}">
    <script type="text/javascript" src="main.js?v=12392823"></script>
</head>
<body>
<header>
    <img class="logo" src="{{ url_for('static', filename='LogoTipoFalse.png') }}">
    <ul class="menu">
        <li><a href="/">Distribuidora Costa Norte</a></li>
        <li><a href="{{ url_for('inicio') }}">Principal</a></li>
        <li><a href="{{ url_for('sedes') }}">Sedes</a></li>
        <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
        <li><a href="{{ url_for('servicios') }}">Servicios</a></li>
        <li><a href="{{ url_for('ferias') }}">Ferias</a></li>
        <li><a href="{{ url_for('proveedores') }}">Proveedores</a></li>
        <li><a href="{{ url_for('administrador') }}">Administrador</a></li>
    </ul>
</header>
<section class="contenido-central">
    {% block content %}
    {% endblock %}
</section>
</body>
</html>