{% extends "diseñoPrueba.html" %}
{% block content %}
<div class="contacto">
    <img src="{{ url_for('static', filename='circular_1.jpg') }}" alt="error" class="img1">

    <p style="background-color: darkturquoise;">
        Call Center <br>
        <span style="background-color:cadetblue; font-size: 40px; width: 100%;">662-7010</span> <br>
        (Ext 113,115,105,111) 
    </p>


    <p>
        Celulares:
        <ul style="list-style: none;">
            <li>
                3156350872
            </li>
            <li>
                3156350851
            </li>
            <li>
                3156242399
            </li>
        </ul>
        Lineas Directas a Ventas <br>
        622 0953 - 622 0960
    </p>
</div>
{% endblock content%}