{% extends "diseñoPrueba.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ formulario.hidden_tag() }}<!--esto se hace para proteger el sitio contar ciertos ataques-->
        <fieldset class="form-group">
            <legend class=""> Ingreso de administrador</legend>
            <!--Los siguientes son los campos del formulario-->
            <dir class="form-group">
                {{ formulario.email.label(class="form-control-label") }}

                {% if formulario.email.errors %}<!-- Imprime los errores asociados a este campo -->
                {{ formulario.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in formulario.email.errors %}
                    <span lang="es">{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ formulario.email(class="form-control form-control-lg") }}
                {% endif %}
            </dir>
            <dir class="form-group">
                {{ formulario.password.label(class="form-control-label") }}

                {% if formulario.password.errors %}<!-- Imprime los errores asociados a este campo -->
                {{ formulario.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in formulario.password.errors %}
                    <span lang="es">{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ formulario.password(class="form-control form-control-lg") }}
                {% endif %}
            </dir>
        </fieldset>
        <dir class="form-boton">
            {{ formulario.submit( class="btn btn-outline-info") }}
        </dir>
    </form>
</div>
{% endblock content%}