{% extends "diseñoPrueba.html" %}
{% block content %}
<div style="margin-top: 20px">
    <h1 class="titulo" >Cartagena</h1> <br>
    <ul class="sedes">
        <li>
            <strong>Drogas Mega Express Centro:</strong><br>
            Centro, Barrio San Diego, Cra 11 No. 27-37 <br>
            Tel. 6644891, 6642036 </li>
            
        <li>
            <strong>Drogas Mega Express Ejecutivos:</strong><br>
            Centro Médico los Ejecutivos L1-14 <br>
            Tel. 6710899 - 3153940297
        </li>
        <li>
            <strong>Drogas Mega Express Turbaco:</strong><br>
            Turbaco,carrera 17 No.17 53 <br>
            Tel. 6638466
        </li>
        <li>
            <strong>Drogas Mega Express Santa Lucia: </strong> <br>
            Mz B L1 Santa Lucia<br>
            Tel. 6631937-6531283 
        </li>
        <li>
            <strong>Droguería Mi Vaquita: </strong><br>
            San Fernando Estación de <br>
            Servicio SanBuenaventura<br> 
            Tel. 6523137
        </li>
    </ul>
    <ul class="sedes2">
        <li>
            <strong>Droguería Mega Express Bosque: </strong><br>
            Av. Crisanto Luque No. 47-70  <br>
            Tel. 6627010- Ext .124 - 6624087</li>
        <li>
            <strong>Droguería Mega Express Campiña: </strong><br>
            Barrio La Campiña Diag 30 No. 46-39  <br>
            Tel. 6437732
        </li>
        <li>
            <strong>Drogas mega Express Amberes: </strong><br>
            Barrio Amberes calle 30 No. 42-02  <br>
            Tel. 6698279
        </li>
        <li>
            <strong>Drogas mega Express Ternera: </strong><br>
            Diag 32 29-118 local 2<br>
            Tel. 6568773
        </li>
        <li>
        <strong>Drogas mega Express Terminal: </strong><br>
            Villas de la Candelaria, Montesión<br>
            Mz 44-2 Torre C Local 14<br>
            Tel. 643 8295
        </li>
    </ul>
    <h1 class="titulo" >Valledupar</h1> <br>
        <ul class="sedes2">
            <li>
                <strong>Drogueria Mega Express Valledupar</strong> <br>
                Cra 18D No 20-114 / Barrio Primero de Mayo <br>
                Tel 5724469
            </li>
        </ul>
    <h1 class="titulo" >Santa Marta</h1> <br>
    <ul class="sedes2">
        <li>
            <strong>Drogueria Mega Express Santa Marta</strong> <br>
            Kra 35 N 10A-73 Barrio Bastidas <br>
            megasantamarta@costanorte.com.co <br>
            Tel 4389826
        </li>
    </ul>
    <h1 class="titulo" >Barranquilla</h1> <br>
    <ul class="sedes2">
        <li>
            <strong>Drogueria Mega Express Soledad No. 13 </strong> <br>
            Barrio Arboleda Cra 57 N 42-02<br>
            megabarranquilla@costanorte.com.co <br>
            Tel 3938914
        </li>
    </ul>
</div>
{% endblock content%}