{% extends "diseñoPrueba.html" %}
{% block content %}
<div class="content-section">
    <h2> Bienvenido, {{ current_user.name }} </h2>
    <div class="calendario-ferias">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=America%2FBogota&amp;title=Calendario%20de%20ferias&amp;showTz=0&amp;showPrint=0&amp;mode=WEEK&amp;showTitle=1&amp;showTabs=1&amp;showCalendars=0&amp;src=ZXMuY28jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%237986CB"
                style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>

{% endblock content%}